
# =========================
# Python
# =========================

# Byte-compiled / caché
__pycache__/
*.py[cod]
*$py.class

# Distribución y empaquetado
build/
dist/
*.egg-info/
.eggs/
*.egg
pip-wheel-metadata/

# Tests y cobertura
.pytest_cache/
.coverage
.coverage.*
htmlcov/
.tox/
.nox/

# =========================
# Entornos virtuales
# =========================

.venv/
venv/
env/
ENV/

# =========================
# Variables de entorno
# =========================

.env
.env.*
!.env.example

# =========================
# IDEs y editores
# =========================

.vscode/
.idea/

# =========================
# Jupyter Notebook
# =========================

.ipynb_checkpoints/

# =========================
# Type checking
# =========================

.mypy_cache/
.pyright/
.ruff_cache/

# =========================
# Sistema operativo
# =========================

# Windows
Thumbs.db
Desktop.ini

# macOS
.DS_Store

# =========================
# Logs
# =========================

*.log